@import "tailwindcss";

/* Scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f97316, #dc2626); /* orange to red */
  border-radius: 8px;
}

/* Scrollbar track background */
::-webkit-scrollbar-track {
  background: #333333c2; /* gray-800 */
}
